@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Barlow", sans-serif;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    /* background-color: aqua; */
    margin: 0 auto;
}
.container2 {
    max-width: 1087px;
    width: 100%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0;
}

/* menu  */
.menu {
    padding-top: 47px;
}
.menu__inner {
    display: flex;
    gap: 389px;
    align-items: center;
}
.menu__left {
}
.menu__left-p {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 42px;
    color: #2f2e2e;
    margin-left: -5px;
}
.menu__right {
    display: flex;
    gap: 106px;
    padding-top: 14px;
}
.menu__right-a {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #2f2e2e;
    text-decoration: none;
    transition: .2s;
    padding-right: 2px;
}
.menu__right-a:hover {
    font-weight: 700;
}
.menu__right-img {
    margin-left: -63px;
}

/* main  */
.main {
    margin-top: 90px;
}
.main__inner {
}
.back-ground-img {
    width: 1150px;
    height: 739px;
    background-image: url(../img/header.jpg);
    position: relative;
    z-index: 0;
    margin-left: 290px;
}
.block-bg {
    width: 691px;
    height: 550px;
    background-image: url(../img/header2.png);
    z-index: 10;
    position: absolute;
    top: 94px;
    left: -290px;
    padding-top: 138px;
    padding-left: 100px;
    padding-right: 155px;
    padding-bottom: 139px;
}
.block-bg-h1 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    color: #2f2e2e;
}
.block-bg-p {
    font-family: var(--second-family);
    font-weight: 200;
    font-size: 32px;
    color: #2f2e2e;
    padding-top: 11px;
    line-height: 43px;
}

/* services */
.services {
    height: 384px;
    background-color: rgba(37, 77, 77, 0.2);
}
.services__inner {
}
.services__inner-h2 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    color: #2f2e2e;
    padding-top: 15px;
}
.services__inner-items {
    display: flex;
    gap: 306px;
    padding-top: 46px;
    margin-left: -125px;
}
.services__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services__inner-item:first-child {
    margin-left: 105px;
    margin-right: -27px;
}
.services__inner-item:nth-child(2){
    margin-right: -60px;
    margin-left: -11px;
    padding-right: 19px;
}
.services__inner-item:nth-child(3){
    margin-right: -22px;
}
.circle {
    border-radius: 100%;
    background-color: #254d4d;
    width: 103px;
    height: 103px;
    padding-top: 23px;
}
.circle-img {
    align-self: center;
}
.services__inner-item-h5 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 27px;
    text-align: center;
    color: #2f2e2e;
}
.services__inner-item-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #2f2e2e;
    min-width: 158px;
    padding-top: 8px;
}

/* about_us */
.about_us {
    padding-top: 75px;
}
.about_us__inner {
    display: flex;
}
.about_us-left {
}
.about_us-left-img {
}
.about_us-right {
    padding-top: 66px;
    padding-left: 87px;
}
.about_us-right-h2 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    color: #2f2e2e;
}
.about_us-right-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 31px;
    color: #2f2e2e;
    padding-top: 26px;
    line-height: 49px;
    margin-right: -57px;
}
.about_us-right-a {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    color: #2f2e2e;
    text-decoration: none;
    transition: .2s;
}
.a-div {
    padding-top: 33px;
}
.about_us-right-a:hover {
    font-weight: 900;
    color: #000000;
}


/* team  */
.team__inner {
    display: flex;
    gap: 130px;
    /* justify-content: space-evenly; */
    /* padding: 0 100px; */
}
.team__item {
    display: flex;
}
.team-h2 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    color: #000;
}
.team__item-text-h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #2f2e2e;
    margin-bottom: 16px;
}
.team__item-text-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #2f2e2e;
    max-width: 307px;

}
.team__item-img {
    margin-right: 25px;
    align-self: center;
}

@media screen and (max-width:1024px) {
    .team__inner {
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:520px) {
    .team__item {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:360px) {
    .container {
        padding: 0 10px;
    }
    .team-h2 {
        font-size: 40px;
    }
}