@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --font-family: "Playfair Display", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Barlow", sans-serif;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    /* background-color: aqua; */
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0;
}

/* menu  */
.menu {
    padding-top: 47px;
}
.menu__inner {
    display: flex;
    gap: 389px;
    align-items: center;
}
.menu__left {
}
.menu__left-p {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 42px;
    color: #2f2e2e;
    margin-left: -5px;
}
.menu__right {
    display: flex;
    gap: 106px;
    padding-top: 14px;
}
.menu__right-a {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #2f2e2e;
    text-decoration: none;
    transition: .2s;
    padding-right: 2px;
}
.menu__right-a:hover {
    font-weight: 700;
}
.menu__right-img {
    margin-left: -63px;
}


/* team  */
.team__inner {
    display: flex;
    gap: 130px;
    /* justify-content: space-evenly; */
    /* padding: 0 100px; */
}
.team__item {
    display: flex;
}
.team-h2 {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 51px;
    text-align: center;
    color: #000;
}
.team__item-text-h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    color: #2f2e2e;
    margin-bottom: 16px;
}
.team__item-text-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #2f2e2e;
    max-width: 307px;

}
.team__item-img {
    margin-right: 25px;
    align-self: center;
}

@media screen and (max-width:1024px) {
    .team__inner {
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:520px) {
    .team__item {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:360px) {
    .container {
        padding: 0 10px;
    }
    .team-h2 {
        font-size: 40px;
    }
}